.features19-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: 19px;
}
 
.features19-feature2-title {
  border-radius: var(--dl-layout-radius-radius4);
}
 
.features19-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features19-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.features19-image {
  width: 200px;
  object-fit: cover;
}
 
.features19-image-container {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
}
 
.features19-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-actions {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
 
.features19-fragment1 {
  display: contents;
}
 
.features19-text12 {
  display: inline-block;
}
 
.features19-fragment2 {
  display: contents;
}
 
.features19-text13 {
  display: inline-block;
}
 
.features19-fragment3 {
  display: contents;
}
 
.features19-text14 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features19-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .features19-actions {
    width: 100%;
    flex-direction: column;
  }
}
