.features20-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features20-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features20-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features20-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features20-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features20-actions {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
 
.features20-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.features20-image {
  width: 100%;
  height: 277px;
  object-fit: cover;
}
 
.features20-image-container {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
 
.features20-fragment1 {
  display: contents;
}
 
.features20-text3 {
  display: inline-block;
}
 
.features20-fragment2 {
  display: contents;
}
 
.features20-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features20-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column-reverse;
  }
}
 
@media(max-width: 479px) {
  .features20-actions {
    width: 100%;
    flex-direction: column;
  }
}
